<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %} — rhoboro's microblog</title>
    <meta name="description" content="{{ description | default(value='rhoboro&#39;s microblog') }}">

    <meta property="og:site_name" content="rhoboro's microblog">
    <meta property="og:title" content="{% block og_title %}{{ title }}{% endblock og_title %}">
    <meta property="og:description" content="{{ description | default(value='rhoboro&#39;s microblog') }}">
    <meta property="og:type" content="{% block og_type %}website{% endblock og_type %}">
    <meta property="og:image" content="{{ rel_path }}images/ogp.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}{{ title }}{% endblock twitter_title %}">

    <link rel="stylesheet" href="{{ rel_path }}style.css">
    {% block head %}{% endblock head %}
</head>
<body>
<header>
    <nav class="site-nav">
        <div class="site-title">
            <a href="{{ rel_path }}index.html">rhoboro's microblog</a>
        </div>
        <div class="nav-links">
            <a href="{{ rel_path }}about.html">About</a>
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock content %}
</main>

<footer>
    <p><small>&copy; 2026 rhoboro's microblog</small></p>
</footer>
</body>
</html>
